.eltype1,
.eltype2,
.eltype3 {
	margin: 5px;
	text-align: center;
	font-size: 32px;
	background-color: gray;
	overflow: hidden;
}
.dot-r {
	border: 1px solid #C11B17;
}

.dot-b {
	border: 1px solid #151B54;
}

.dot-g {
	border: 1px solid #387C44;
}

.col1 {
	width: 300px;
	float: left;
}

.col2 {
	width: 600px;
	float: left;
}

.col3 {
	width: 300px;
	float: left;
}

.eltype1 {
	height: 300px;
	line-height: 300px;
}

.eltype2 {
	height: 500px;
	line-height: 500px;
}

.eltype3 {
	height: 150px;
	line-height: 150px;
}

section{
	margin: 0 auto;
	width: 1245px;
}

header {
	width: 100%;
	height: 150px;
	text-align: center;
	font-size: 32px;
	line-height: 150px;
	background-color: gray;
}